* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

li {
	margin-left: 20px;
}

body {
	background-color: #202020;
	color: #e0e0e0;
	text-align: center;
}

button {
	background-color: #e0e0e0;
	border-bottom: solid 2px #808080;
	border-left: solid 2px silver;
	border-radius: 4px;
	border-right: solid 2px #808080;
	border-top: solid 2px silver;
	cursor: pointer;
	margin: 2px;
	padding: 2px 8px;
}

button:hover {
	background-color: #f0f0f0;
}

form, h2, h3 {
	text-align: center;
}

h1, h2, h3 {
	color: white;
}

h2 {
	margin-bottom: 10px;
}

section {
	background-color: #404040;
	border-radius: 8px;
	display: inline-block;
	margin: 10px;
	min-width: 400px;
	padding: 10px 20px;
	text-align: left;
}

section > div {
	border: solid 2px #202020;
	border-radius: 8px;
	padding: 20px;
}

#key {
	width: 300px;
}

#modalBG {
	align-items: center;
	background-color: rgba(0, 0, 0, 0.75);
	bottom: 0;
	display: none;
	justify-content: center;
	left: 0;
	position: fixed;
	right: 0;
	top: 0;
}

#modalBG.show {
	display: flex;
}

#modalBG div {
	background-color: #404040;
	border: solid 2px #202020;
	border-radius: 10px;
	max-width: 400px;
	padding: 10px;
}

#modalBG div p {
	margin: 10px;
}

#output {
	display: none;
	margin-top: 20px;
}

#output div {
	background-color: black;
	border-radius: 4px;
	color: white;
	font-family: 'Courier New', Courier, monospace;
	padding: 8px;
}

#output p {
	margin: 8px 0px;
}

.flexMe {
	display: flex;
	justify-content: center;
}

.flexMe > div {
	margin: 8px;
	text-align: left;
}

.good {
	color: green;
}

.show {
	display: block !important;
}